<section class="bg bg-zinc-900 p-20 rounded-xl my-4">
  <h1 class="text-5xl font-bold my-5">About Us</h1>
  <p class="text-zinc-300">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque atque
    maiores sequi fuga quis tempore, porro nobis iusto consequuntur laudantium.
  </p>
</section>
