---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca de sitio">
  <h1>About</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi commodi
    aspernatur beatae magni quis asperiores pariatur! Dolorum perspiciatis
    doloremque dicta quisquam in. A voluptatem reiciendis accusantium expedita,
    voluptate dolor praesentium officia accusamus suscipit ea aut, in cumque
    voluptatibus perferendis, quaerat eaque? Voluptatum excepturi dolore modi
    ducimus, sit cupiditate necessitatibus temporibus nulla blanditiis et libero
    fugiat suscipit. Quas repellendus quisquam officiis optio, labore impedit,
    delectus voluptas saepe dolores eveniet ea ullam cumque necessitatibus
    tempore quasi amet hic aut beatae. Delectus voluptates numquam mollitia
    aliquid pariatur non. Dolorem tempore laboriosam aliquid iure consectetur
    repudiandae, ipsum omnis quasi ullam dolorum nulla! Quas, placeat!
  </p>
</Layout>
